<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fornecedores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Fornecedores</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid class="ion-grid-padding">
      <ion-row>
        <ion-col sizeXs="2">#</ion-col>
        <ion-col sizeXs="7">Razão Social</ion-col>
        <ion-col class="hidden-xs-col">CNPJ</ion-col>
        <ion-col class="hidden-xs-col">Telefone</ion-col>
        <ion-col class="hidden-xs-col">E-mail</ion-col>
        <ion-col class="hidden-xs-col">Logradouro</ion-col>
        <ion-col class="hidden-xs-col">Numero</ion-col>
        <ion-col class="hidden-xs-col">Bairro</ion-col>
        <ion-col class="hidden-xs-col">Cidade</ion-col>
        <ion-col class="hidden-xs-col">Estado</ion-col>
        <ion-col class="hidden-xs-col">CEP</ion-col>
        <ion-col sizeXs="3" class="show-xs-col hidden-xl-col hidden-lg-col">Detalhes</ion-col>
      </ion-row>
      <ion-row *ngFor="let fornecedor of fornecedores">
        <ion-col sizeXs="2">{{ fornecedor.id }}</ion-col>
        <ion-col sizeXs="7">{{ fornecedor.razaoSocial }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.cnpj }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.telefone }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.email }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.logradouro }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.numero }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.bairro }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.cidade }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.estado }}</ion-col>
        <ion-col class="hidden-xs-col">{{ fornecedor.cep }}</ion-col>
        <ion-col sizeXs="3" class="show-xs-col hidden-xl-col hidden-lg-col"><ion-button class="btn-modal" fill="clear" (click)="openModal(fornecedor.id)">Show</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-modal-content"></div>
  </ion-content>
</ion-content>
